* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

// variables.scss
$background-color: hsl(272, 100%, 86%);
// $background-color: #e5d7ff;
// $btn-color:;
// $primary-color: #3498db;
// $secondary-color: #2ecc71;
// $text-color: #2c3e50;
